# Dependances
node_modules/
.pnp
.pnp.js

# Build et Production
.next/
out/
build/
dist/
dist-ssr/
*.local

# Debug et Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement et Secrets
.env
.env*.local

# Base de donnees
*.sql
*.sqlite

# Binaires et Systemes
*.exe
*.dll
*.so
*.dylib
.DS_Store
Thumbs.db

# IDE (VS Code, JetBrains)
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Dossiers temporaires
scratch/
.vercel

# Uploads (Documents archives)
public/uploads/
